.nav {
  width: 100%;
  padding: 1.5rem 2rem;
  background: #222;
  // background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
  @media screen and (min-width: 900px) {
    padding: 2rem 4rem;
  }
  .nav__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__menu-btn {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 0.2rem;

      svg {
        font-size: 1.3rem;
      }
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
    .nav__logo {
      color: #fff;
      font-family: inherit;
      letter-spacing: 1px;
    }

    .nav__user {
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: 0.85rem;
      .nav__userName {
        color: var(--primaryColor);
      }
    }

    .nav__form {
      display: none;

      input {
        padding: 0.2rem;
        border: 0;
        border-radius: 3px 0 0 3px;
      }

      .nav__search-btn {
        background-color: var(--primaryColor);
        border: 0;
        padding: 0.2rem;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        svg {
          color: #fff;
        }
      }
      @media screen and (min-width: 600px) {
        display: flex;
      }
    }

    .nav__links {
      display: none;
      gap: 1rem;
      color: #fff;
      a {
        color: #fff;
        &:hover {
          border-bottom: 1px solid var(--primaryColor);
        }
      }

      @media screen and (min-width: 900px) {
        display: flex;
      }
    }

    .nav__cart-contanier {
      position: relative;
      cursor: pointer;
      svg {
        font-size: 2rem;
        color: #fff;
      }

      p {
        position: absolute;
        top: -1rem;
        right: -1rem;
        background: var(--primaryColor);
        color: #fff;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
}
