.header__hero {
  width: 100vw;
  height: 90vh;
  position: relative;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url('../../assets/power1.jpg');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 0 2rem;

  h1 {
    font-family: sans-serif;
    font-size: 3.25rem;
    font-weight: 200;
    line-height: 1.05;

    @media screen and (min-width: 900px) {
      font-size: 4rem;
      font-weight: 200;
      line-height: 1;
    }
  }
  p {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  div {
    margin-top: 5rem;
    .header__btn {
      font-size: 20px;
      font-weight: 600;
      background-color: #e67e22;
      color: #fff;
      text-decoration: none;
      padding: 0.8rem 2rem;
      border-radius: 9px;
    }
  }
}
